body {
    font-family: Arial, sans-serif;
    margin: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #000000, #000000, #4b0082, #0000ff, #4b0082, #000000, #000000);
    background-size: 400% 100%;
    animation: slideGradient 30s linear infinite;
    color: #fff;
  }
  
  @keyframes slideGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  .container {
    display: flex;
    width: 90%;
    max-width: 1500px;
  }
  
  .left {
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .right {
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .left p {
    font-size: 1.4em;
    color: #fff;
    line-height: 1.6;
  }
  
  .right img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  