/* Animation du fond */
@keyframes slideGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
    /* Dégradé animé horizontal */
    background: linear-gradient(90deg, #000000, #4b0082, #0000ff, #000000);
    background-size: 400% 100%;
    animation: slideGradient 30s linear infinite;
  }
  
  .image-box {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
    background-color: black;
    width: 60%;
    text-align: center;
  
    img {
      width: 100%;
      height: auto;
      display: inline-block;
      object-fit: contain;
      border-radius: 5px;
    }
  }
  
  h1 {
    margin: 30px 0;
    font-size: 3em;
    text-align: center;
  }
  